services:
  compiler:
    build:
      context: ../..
      dockerfile: apps/compiler/Dockerfile.dev
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    restart: unless-stopped
